<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> the main page </title>
</head>
<body>
<h1> Bu asosiy page</h1>
</body>
</html>